/* ===================================
   1. ICONS
   =================================== */

svg.icon-inline {
    vertical-align: middle;
    /* margin: 0 1em; */
}

svg.icon-va-y-2 {
    vertical-align: -2px;
}

svg.icon-va-y-6 {
    vertical-align: -6px;
}

svg.icon-va-tb {
    vertical-align: text-bottom;
}

svg.icon-va-tbase {
    vertical-align: baseline;
}

svg.icon-small {
    width: 25;
    height: 25;
}

.icon-x {
    font-size: 1.8rem;
}

.library-icon {
    height: 20px;
    width: auto;
    transition: all 0.3s ease;
}

/* ===================================
   2. GRAPHICS
   =================================== */

/* css-organization.html */
.itcss-graphic {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 300 / 145;
    /* Aus SVG viewBox */
    background-color: var(--text-primary);
    mask-image: url('/assets/graphics/itcss-graphic.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('/assets/graphics/itcss-graphic.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

/* grundlagen-der-css-struktur.html */
.css-regel {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 605 / 174;
    /* Aus SVG viewBox */
    background-color: var(--text-primary);
    mask-image: url('/assets/graphics/css-regel.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('/assets/graphics/css-regel.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}